
frozen/** linguist-generated=true
src/generated2.ics linguist-generated=true

src/build2.ics linguist-language=AngelScript
src/codegen2.ics linguist-language=COBOL
src/compiler2.ics linguist-language=CoffeeScript
src/esnames2.ics linguist-language=Logtalk
src/file-utils.ics linguist-language=Pike
src/filter.ics linguist-language=Shell
src/gc.ics linguist-language=Literate Agda
src/line-numbers.ics linguist-language=MUF
src/literals.ics linguist-language=ASP
src/parse.ics linguist-language=LOLCODE
src/schemes2.ics linguist-language=Inform 7
src/tokenize.ics linguist-language=TXL
src/typeck6.ics linguist-language=Go
src/types6.ics linguist-language=Brainfuck
src/util.ics linguist-language=LSL
src/parsegen/generate.ics linguist-language=Cuda
src/parsegen/grammar.ics linguist-language=TSX
src/parsegen/graph.ics linguist-language=SourcePawn
src/parsegen/lalr.ics linguist-language=Idris
src/parsegen/util.ics linguist-language=Ruby
src/std/builtins.ics linguist-language=Metal
src/std/regex.ics linguist-language=Makefile
src/std/strings.ics linguist-language=Sage
src/formatter/format.ics linguist-language=Opa
src/testcases/bad/bad_cond_type.ics linguist-language=Max
src/testcases/bad/bad_poly.ics linguist-language=Nix
src/testcases/bad/badcopy_bool_x.ics linguist-language=IGOR Pro
src/testcases/bad/badcopy_case_x.ics linguist-language=AspectJ
src/testcases/bad/badcopy_func_x.ics linguist-language=AutoIt
src/testcases/bad/badcopy_null_x.ics linguist-language=Yacc
src/testcases/bad/badcopy_num_x.ics linguist-language=TI Program
src/testcases/bad/badcopy_obj_x.ics linguist-language=GLSL
src/testcases/bad/badcopy_string_x.ics linguist-language=VHDL
src/testcases/bad/badcopy_undef_x.ics linguist-language=Modelica
src/testcases/bad/badcopyowned_x.ics linguist-language=CLIPS
src/testcases/bad/badfllowobj.ics linguist-language=Terra
src/testcases/bad/badflow.ics linguist-language=ObjectScript
src/testcases/bad/badflow_bool.ics linguist-language=Xojo
src/testcases/bad/badflow_funcret.ics linguist-language=PowerBuilder
src/testcases/bad/badflow_undef.ics linguist-language=Brightscript
src/testcases/bad/badpartialflow_funcarg.ics linguist-language=Oz
src/testcases/bad/boolplus.ics linguist-language=Scilab
src/testcases/bad/casedestructure.ics linguist-language=Visual Basic
src/testcases/bad/cond_semi_lhs.ics linguist-language=Gosu
src/testcases/bad/cond_tuple_mult.ics linguist-language=Modula-2
src/testcases/bad/copy_ncase_itops_x.ics linguist-language=Python
src/testcases/bad/copy_pflow_x.ics linguist-language=Csound
src/testcases/bad/copy_solve_x.ics linguist-language=TLA
src/testcases/bad/copyobj_x.ics linguist-language=SaltStack
src/testcases/bad/dashid.ics linguist-language=Arc
src/testcases/bad/dup_obj_destructure.ics linguist-language=OCaml
src/testcases/bad/dup_objlit_key.ics linguist-language=HiveQL
src/testcases/bad/duplicate_pattern_bound.ics linguist-language=DIGITAL Command Language
src/testcases/bad/filtervar.ics linguist-language=Open Policy Agent
src/testcases/bad/final_loopcap.ics linguist-language=mIRC Script
src/testcases/bad/final_simple.ics linguist-language=Motorola 68K Assembly
src/testcases/bad/fixtypemessage.ics linguist-language=CartoCSS
src/testcases/bad/flow_func_args.ics linguist-language=M4
src/testcases/bad/flow_merge_itops.ics linguist-language=SQLPL
src/testcases/bad/flow_merge_subabs.ics linguist-language=Zephir
src/testcases/bad/flow_negob_reads.ics linguist-language=Quake
src/testcases/bad/flow_negobj_writes.ics linguist-language=Apex
src/testcases/bad/flow_pobj_writes.ics linguist-language=fish
src/testcases/bad/future_direct_assign.ics linguist-language=Objective-J
src/testcases/bad/future_rhs_syntax.ics linguist-language=BlitzBasic
src/testcases/bad/if_else_final_merge.ics linguist-language=Clarion
src/testcases/bad/insufficient_poly_level.ics linguist-language=Bluespec
src/testcases/bad/loopvar.ics linguist-language=Perl
src/testcases/bad/merge_func_overwrite.ics linguist-language=Coq
src/testcases/bad/merge_mono_poly.ics linguist-language=SmPL
src/testcases/bad/merge_ncase_sub.ics linguist-language=Ceylon
src/testcases/bad/merge_nfunct_args.ics linguist-language=Mirah
src/testcases/bad/merge_num_overwrite.ics linguist-language=LFE
src/testcases/bad/merge_obj_overwrite.ics linguist-language=Alloy
src/testcases/bad/merge_overwrite_missing_case.ics linguist-language=1C Enterprise
src/testcases/bad/merge_pcase_sub.ics linguist-language=Volt
src/testcases/bad/mergeiflet.ics linguist-language=nesC
src/testcases/bad/missing_signpost.ics linguist-language=Click
src/testcases/bad/monoinpoly.ics linguist-language=Ragel
src/testcases/bad/multiple_arg_count_mismatch.ics linguist-language=sed
src/testcases/bad/nested_poly_bounds.ics linguist-language=Verilog
src/testcases/bad/nested_poly_var.ics linguist-language=Uno
src/testcases/bad/no_changed_fieldset_intersect.ics linguist-language=Groovy
src/testcases/bad/no_changed_fieldset_union_recurse.ics linguist-language=QML
src/testcases/bad/no_changed_ncase_recurse.ics linguist-language=M
src/testcases/bad/no_changed_pcase_recurse.ics linguist-language=XS
src/testcases/bad/no_changed_pobj_writes.ics linguist-language=Prolog
src/testcases/bad/nobool_not.ics linguist-language=Standard ML
src/testcases/bad/noncond_binop.ics linguist-language=SystemVerilog
src/testcases/bad/null_cmp_field.ics linguist-language=IDL
src/testcases/bad/numcheck.ics linguist-language=Propeller Spin
src/testcases/bad/phantom_cond_obj.ics linguist-language=C
src/testcases/bad/phantom_field.ics linguist-language=ECL
src/testcases/bad/phantom_field_access.ics linguist-language=XSLT
src/testcases/bad/phantom_field_case.ics linguist-language=J
src/testcases/bad/phantom_field_destructure.ics linguist-language=Perl 6
src/testcases/bad/phantom_field_if_false.ics linguist-language=Nearley
src/testcases/bad/phantom_field_shadow_true.ics linguist-language=Filterscript
src/testcases/bad/phantom_method.ics linguist-language=NewLisp
src/testcases/bad/polymut.ics linguist-language=WebAssembly
src/testcases/bad/read_list_assign.ics linguist-language=Glyph
src/testcases/bad/read_set_assign.ics linguist-language=Groovy Server Pages
src/testcases/bad/reassign_after_future.ics linguist-language=Dart
src/testcases/bad/reassign_literal_after_use.ics linguist-language=DM
src/testcases/bad/reassign_poly_across_loop.ics linguist-language=Smalltalk
src/testcases/bad/ref_after_join_this_assign.ics linguist-language=Processing
src/testcases/bad/ref_before_assign_global.ics linguist-language=Zimpl
src/testcases/bad/ref_before_assign_global_infunc.ics linguist-language=Papyrus
src/testcases/bad/saved_poly_reassigned_in_range.ics linguist-language=Zeek
src/testcases/bad/self_import.ics linguist-language=Elixir
src/testcases/bad/splitid1.ics linguist-language=DataWeave
src/testcases/bad/splitid2.ics linguist-language=Eiffel
src/testcases/bad/too_polite.ics linguist-language=Io
src/testcases/bad/undef_cmp_lhs.ics linguist-language=wdl
src/testcases/bad/undef_cmp_rhs.ics linguist-language=Emacs Lisp
src/testcases/bad/undef_div_lhs.ics linguist-language=Lean
src/testcases/bad/undef_div_rhs.ics linguist-language=Augeas
src/testcases/bad/undefplus.ics linguist-language=ActionScript
src/testcases/bad/unguarded_assignment.ics linguist-language=Modula-3
src/testcases/bad/unguarded_cond_assign.ics linguist-language=Opal
src/testcases/bad/unguarded_future_assign.ics linguist-language=MAXScript
src/testcases/bad/unguarded_loop.ics linguist-language=Vala
src/testcases/bad/unguarded_mutobj.ics linguist-language=Swift
src/testcases/bad/unsafe_function_call.ics linguist-language=YARA
src/testcases/bad/unsafe_tostring.ics linguist-language=Nemerle
src/testcases/good/badcaseflow.ics linguist-language=FreeMarker
src/testcases/good/badcasepartialflow.ics linguist-language=Clean
src/testcases/good/basicimports.ics linguist-language=Redcode
src/testcases/good/bounds_dropping.ics linguist-language=Cool
src/testcases/good/captured_poly_loop.ics linguist-language=AGS Script
src/testcases/good/caseleak.ics linguist-language=Pony
src/testcases/good/cond_semi_rhs_invert.ics linguist-language=Cirru
src/testcases/good/cond_tuple0.ics linguist-language=OpenEdge ABL
src/testcases/good/cond_tuple1.ics linguist-language=ECLiPSe
src/testcases/good/copycase_x.ics linguist-language=Jison Lex
src/testcases/good/doublecaseflow.ics linguist-language=APL
src/testcases/good/filter_cases.ics linguist-language=Inno Setup
src/testcases/good/filter_other.ics linguist-language=Grace
src/testcases/good/filter_single_casep.ics linguist-language=GAML
src/testcases/good/final_ifelse.ics linguist-language=ColdFusion CFC
src/testcases/good/final_inloop.ics linguist-language=Nextflow
src/testcases/good/for_range_side_effects.ics linguist-language=Puppet
src/testcases/good/if_not_undef.ics linguist-language=EQ
src/testcases/good/ifcase.ics linguist-language=Assembly
src/testcases/good/ifnull_x.ics linguist-language=GDB
src/testcases/good/infiniteloop_innamegen.ics linguist-language=Python console
src/testcases/good/int_binops.ics linguist-language=GDScript
src/testcases/good/intersect_itops_bug.ics linguist-language=POV-Ray SDL
src/testcases/good/join_other_defined.ics linguist-language=Bison
src/testcases/good/merge_overwrite_case_filtered.ics linguist-language=R
src/testcases/good/methodcall.ics linguist-language=Crystal
src/testcases/good/newsetmut.ics linguist-language=Fantom
src/testcases/good/num_binops.ics linguist-language=Rebol
src/testcases/good/phantom_field.ics linguist-language=LookML
src/testcases/good/please.ics linguist-language=PLSQL
src/testcases/good/poly_cond_bounds.ics linguist-language=Gentoo Eclass
src/testcases/good/poly_extern_import.ics linguist-language=PicoLisp
src/testcases/good/semicolon_deletion.ics linguist-language=NCL
src/testcases/good/shortcircuit_condwhile.ics linguist-language=Lua
src/testcases/good/shortcircuit_or_cond.ics linguist-language=Lex
src/testcases/good/shortcircuitcond.ics linguist-language=WebIDL
src/testcases/good/shortcircuitcond2.ics linguist-language=Rust
src/testcases/good/simplefor.ics linguist-language=Moocode
src/testcases/good/string_comparison.ics linguist-language=SuperCollider
src/testcases/good/unicode_vars.ics linguist-language=OpenCL
src/testcases/good/unsafe_function.ics linguist-language=Rascal
src/testcases/good/unsafe_semicolon.ics linguist-language=MQL5
src/testcases/good/whileimpossible.ics linguist-language=NetLinx
src/testcases/good/ycombinator.ics linguist-language=Elm
src/testcases/exectests/intkeys.ics linguist-language=XProc
src/testcases/exectests/shadow_console.ics linguist-language=Smarty
src/testcases/exectests/shadowiftrue.ics linguist-language=Ada
src/testcases/exectests/tupmethod.ics linguist-language=Unix Assembly